<%=stylesheet_link_tag("style")%>
<%= form_with model: car do |form|%>
<div class="col-sm-4">
  <div class="col-auto">
    <%= form.text_field :name, placeholder: "Car name", class: "form-control"%>
    <%= form.text_field :plate, placeholder: "Plate", class: "form-control"%>

    <%= form.submit class: "btn btn-success mt-2 mb-2"%>
    <%= link_to "back", root_path, class: "btn btn-info"%>
  </div>
</div>
<% end %>
